<!-- Used in React templates -->
<!DOCTYPE html>
<html>
  <head>
    <title>Beyond Embarrassment Studios</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'react_application', 'data-turbolinks-track': 'reload' %>

    <% if user_signed_in? %>
      <script>
        window.currentUser = <%= UserSerializer.new(current_user, { is_collection: false }).serializable_hash.to_json.html_safe %>;
      </script>
    <% end %>

  </head>

  <body id="body">
    <!-- React will have it's own navbar -->
    <div id='nav-bar-height-buffer'></div>
    <%= yield %>
  </body>
</html>
