<!-- Used by devise templates only -->
<!DOCTYPE html>
<html>
  <head>
    <title>Beyond Embarrassment Studios</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

    <% if user_signed_in? %>
      <script>
        window.currentUser = <%= UserSerializer.new(current_user, { is_collection: false }).serializable_hash.to_json.html_safe %>;
      </script>
    <% end %>

  </head>

  <body id="body">
    <%= render 'shared/devise_navbar' %>
    <div class="container-sm bg-light bg-gradient pb-4 pt-4 rounded">
      <%= yield %>
    </div>
  </body>
</html>